@import('SEGOEUI.TTF');
body {
  font-family: 'Segoe UI', Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: whitesmoke;
  background-color: #333842;
  word-break: break-word;
}

/* body {
  background: #333842;
  background: radial-gradient(ellipse at center, #333842 0%, #333842 88%, #000000 100%);
  background-size: 10px 10px;
} */

#bg-radial {
  width: inherit;
  height: inherit;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.forecast {
  text-align: center;
}

.forecast:hover, .link:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 41);
}

.ta-right {
  float: right;
}