@import './SEGOEUI.TTF';
body {
  font-family: 'Segoe UI', Cambria, Georgia, Times, serif;
  font-size: 16px;
  color: whitesmoke;
  background-color: #2B2B2B;
  word-break: break-word;
}

/* custom titlebar */
.titlebar, div.titlebar.cet-windows.inactive {
  background-color: #404040 !important;
}
div.titlebar.cet-windows.inactive .window-title {
  color: rgba(255, 255, 255, 0.6) !important;
}

fieldset {
  border-radius: 6px;
}

#bg-radial {
  margin: 8px;
  width: inherit;
  height: inherit;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
}

.city.link {
  max-width: 140px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.ta-right {
  float: right;
}

.link {
  position: relative;
  overflow: hidden;
  display: inline-grid;
}

.link:after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  opacity: 0;
}

.link:hover {
  cursor: pointer;
}

.link:hover:after {
  animation: ripple 0.5s ease-out;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }
  100% {
    transform: scale(40, 40);
    opacity: 0;
  }
}
