@import './SEGOEUI.TTF';

:root {
  --background_color: rgb(40, 40, 45);
  --text_color: whitesmoke;
}

body {
  font-family: 'Segoe UI', Cambria, Georgia, Times, serif;
  font-size: 16px;
  color: var(--text_color);
  background-color: var(--background_color);
  word-break: break-word;
}

/* custom titlebar */
.titlebar.cet-windows, .titlebar.cet-windows.inactive {
  background-color: var(--background_color) !important;
}
.titlebar.cet-windows.inactive .window-title,
.titlebar.cet-windows.inactive .window-appicon {
  filter: brightness(0.6);
}

fieldset {
  border-radius: 6px;
}

#bg-radial {
  margin: 8px;
  width: inherit;
  height: inherit;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
}

.city.link {
  max-width: 140px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.float-right {
  float: right;
}

.link {
  position: relative;
  overflow: hidden;
  display: inline-grid;
}

.link:after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  opacity: 0;
}

.link:hover {
  cursor: pointer;
}

.link:hover:after {
  animation: ripple 0.5s ease-out;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }
  100% {
    transform: scale(40, 40);
    opacity: 0;
  }
}

/* horizontal rule */
.hr {
  filter: brightness(0.6);
  margin: 10px 0px;
  height: 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 10px;
  align-items: center;
}
.hr:before, .hr:after {
  display: block;
  content: '';
  height: 3px;
  background: linear-gradient(to left, var(--text_color), transparent)
}
.hr:after {
	background: linear-gradient(to right, var(--text_color), transparent)
}
